@{import('db.css')}
<form action="" method="post" class="rrow">
    <div class="col row">
        <p class="">ru</p>    
        <input type="text" name="title_ru" id="" class="">
    </div>
    <input type="text" name="title_ua" id="" class="col">
    <input type="text" name="title_be" id="">
    <input type="text" name="title_en" id="">
    <input type="text" name="title_es" id="">
    <input type="text" name="title_pt" id="">
    <input type="text" name="title_de" id="">
    <input type="text" name="title_fr" id="">
    <input type="text" name="title_it" id="">
    <input type="text" name="title_pl" id="">
    <input type="text" name="title_ja" id="">
    <input type="text" name="title_lt" id="">
    <input type="text" name="title_lv" id="">
    <input type="text" name="title_cz" id="">
    <input type="submit" value="отправить">

</form>