<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
@{import('db.css','db.js')}

<script type="text/x-template" id="modal-template">
  <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
  
            <div class="modal-header">
              <slot name="header">
                Функции
              </slot>
            </div>
  
            <div class="modal-body">
              <slot name="body">
                {{ test2 }}
              </slot>
            </div>
  
            <div class="modal-footer">
              <slot name="footer">
                default footer
                <button class="modal-default-button" @click="$emit('close')">
                  Закрыть
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>


<div id="app" class="boxf">
  <button value="Добавить" name="add">Добавить</button>
  <div v-if="load">
    <div class="row">
      @{foreach m in model.data[0]}
      @{if m.key != 'stringify'}
      <div class="col-xs">@{m.key}</div>
      @{fi}
      @{end}
    </div>

    @{foreach m in model.data}

    <div class="row" @click="test(@{model.data})">
      @{foreach e in m}
      @{if e.key != 'stringify'}
      <div class="col-xs">@{e.value}</div>
      @{fi}
      @{end}
    </div>
    @{end}
  </div>
  <modal v-if="showModal" v-bind:test2="content" @close="showModal = false">
    <!--
              you can use custom content here to overwrite
              default content
            -->
    <h3 slot="body"> {{ content }}
      <button @click="showModal = false;showModal2 = true">Изменить</button>
      <button @click="window.location.href = remove_url">Удалить</button>
    </h3>
  </modal>
  <modal v-if="showModal2" v-bind:test2="content" @close="showModal2 = false">
    <!--
      you can use custom content here to overwrite
      default content
    -->
    <div slot="body">
      <form @submit.prevent="submit_change" method="post" >
        <div v-for="(value, key) in content" class="row">
          <span class="col-xs">{{key}}</span> <input v-bind:value="value" class="col-xs">
        </div>
        <input type="submit" value="Отправить">
      </form>
    </div>
  </modal>


</div>
@{fi}